body {
    color: #333333;
    font-size: 100%;
    line-height: 1.75;
    font-family: 'Merriweather', serif;
    
}

.site {
    width: 90%;
    margin: 0 auto;
    max-width: 50em;
}

.site-header {
    margin-bottom: 2em;
}

.site-title {
    margin-bottom: 0;
}

.site-title a {
    color: #333333;
}

a {
    color: #09c;
    text-decoration: none;
}

a:hover {
    color: #069;
}

.post {
    margin-bottom: 2em;
}

.post-title {
    margin-bottom: 0.5em;
}

.post-title-link {
    color: #333333;
}

p, .p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

code {
    padding: 2px 4px;
    border: 1px solid #E1E1E8;
    background-color: #f7f7f9;
}